@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");

/* HEADER */

.header {
  background-color: #dce1f4;
  font-size: 1.8rem;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  height: 8rem;
  padding: 0 4.8rem;
  margin: auto;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #dce1f4f3;
  z-index: 999;
}

/* NAV */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}

.navbar-name {
  font-size: 2rem;
  font-weight: 700;
}

.navbar-links-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  height: 100%;
}

.navbar-link {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-navbar-link:link,
.main-navbar-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #1c1c1c;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-navbar-link:hover,
.main-navbar-link:active {
  color: #1d2a5d;
}

/* STICKY NAVIGATION */

.sticky .section-hero {
  margin-top: 9.6rem;
}
/* HERO */

.section-hero {
  padding: 0;
  width: 100vw;
  height: 85vh;
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  width: 100vw;
  height: 95vh;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  z-index: 998;
  position: absolute;
  top: 0;
  left: 0;
}

.bg-image {
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0;
  z-index: -1;
  position: relative;
}

.name {
  display: flex;
  margin-top: 8rem;
}

.name-text {
  font-size: 3.6rem;
  font-weight: 600;
}

.name-text span {
  color: #1d2a5d;
  font-weight: 700;
}

.typing-section {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  margin-bottom: 2.4rem;
}

.typed-text {
  color: #1d2a5d;
  font-weight: 700;
}

.cursor {
  display: inline-block;
  width: 0.2rem;
  margin-left: 0.4rem;
  background: #1c1c1c;
}

.cursor.blink {
  animation: blink 0.8s ease-in-out infinite;
}

@keyframes blink {
  0%,
  100% {
    background: #1c1c1c;
  }
  40%,
  50% {
    background: transparent;
  }
}

.hero-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1c1c1c;
}

.hero-btn:hover {
  color: #1d2a5d;
}

/* ABOUT ME SECTION */

.section-about {
  padding: 4.8rem 0 9.6rem 0;
}

.about-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4rem;
}

.siftmed {
  color: #00f3ae;
  text-decoration: none;
  transition: all 0.3s;
}

.siftmed:hover,
.siftmed:active {
  color: #00c28b;
}

.profile-photo {
  height: 50rem;
  width: 50rem;
  border-radius: 500px;
}

.IT-skills {
  display: flex;
  gap: 1.6rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
  font-weight: 600;
}

.IT-skill {
  height: 13rem;
  width: 13rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  transition: transform 0.5s ease;
}

.IT-skill:hover {
  transform: scale(1.1);
}

.IT-skill-text {
  margin-top: 1.2rem;
}

.IT-skills-flex {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
}

.flex-IT-skills {
  display: flex;
  gap: 12rem;
  align-items: center;
  justify-content: center;
}

/* EDUCATION SECTION */

.section-education {
  background-color: #dce1f4;
  padding: 4.8rem 0 9.6rem 0;
}

.education-logo {
  height: 18rem;
  width: 18rem;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 1000px;
}

.certifications img {
  transition: transform 0.5s ease;
}

.certifications img:hover {
  transform: scale(1.1);
  filter: grayscale(0%);
}

.certifications {
  display: flex;
  gap: 6.4rem;
  padding: 4.8rem 0;
  width: 100vw;
  flex-wrap: wrap;
  flex-direction: row;
  margin: auto;
  max-width: 50%;
  justify-content: space-evenly;
}

.cert-row {
  max-width: 700px;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inner-cert-row {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: auto;
  gap: 2rem;
}

.cert {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3.2rem;
  color: #1c1c1c;
}

.cert h2 {
  font-size: 3.2rem;
  font-weight: 500;
}

.cert p {
  font-size: 2.4rem;
  font-weight: 400;
}

/* PROJECTS SECTION */

.section-projects {
  padding: 4.8rem 0 9.6rem 0;
}

.channel-box {
  border-radius: 3px;
  width: 100%;
  background-color: #dce1f4;
  padding: 4.8rem;
  position: relative;
  overflow: hidden;
  display: inherit;
  transition: transform 0.5s ease;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.project-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 3px;
  width: 100%;
  background-color: #dce1f4;
  padding: 1.6rem;
  margin-bottom: 3.2rem;
  transition: transform 0.5s ease;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.project-box:hover {
  transform: scale(1.05);
}

.fitfresh-preview {
  height: 50rem;
  width: 100%;
  border-radius: 3px;
  margin-bottom: 2rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.channel-box:hover {
  transform: scale(1.05);
}

.channel-header {
  text-align: center;
  margin-bottom: 2rem;
  padding: 1.6rem 0rem;
  font-weight: 500px;
}

.channel-name {
  font-weight: 490;
  font-size: 2rem;
  letter-spacing: 0.75;
  margin: 2rem;
}

.channel-view {
  text-align: center;
  margin-top: 4.8rem;
}

.description-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.channel-box-1-wrap::after {
  content: "10M+ Views";
  position: absolute;
  text-align: center;

  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 700;
  color: #fff;
  background-color: #1d2a5d;
  padding: 1rem 12rem;
}

.channel-box-2-wrap::after {
  content: "5M+ Views";
  position: absolute;
  text-align: center;

  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 700;
  color: #fff;
  background-color: #1d2a5d;
  padding: 1rem 12rem;
}

.youtube-channel-image {
  height: 10rem;
  width: 10rem;
  border-radius: 500px;
}

/* FOOTER */

.footer {
  padding: 3.2rem 0;
  background-color: #1c1c1c;
}

.heading-footer {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  line-height: 1.05;
  font-weight: 700;
  color: #fff;
  letter-spacing: -0.5px;
  margin-bottom: 1rem;
}

.email {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  line-height: 1.05;
  font-weight: 400;
  color: #fff;
  letter-spacing: -0.5px;
  margin-bottom: 1rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #fff;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #999;
}

.footer-icon {
  height: 4.5rem;
  width: 4.5rem;
  fill: #fff;
  transition: all 0.3s;
}

.footer-icons {
  display: flex;
  justify-content: center;
  gap: 3.2rem;
}

.footer-icon:link,
.footer-icon:visited {
  text-decoration: none;
  font-size: 1.6rem;
  fill: #fff;
}

.footer-icon:hover,
.footer-icon:active {
  fill: #999;
}

/* COPYRIGHT */

.copyright {
  display: flex;
  justify-content: center;
  color: #fff;
  background-color: #222;
  padding: 0.4rem;
  font-size: 1.4rem;
  line-height: 1.6;
}

.test {
  border: 1px solid red;
}
