@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");

/* HEADER */

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dce1f4;
  font-size: 1.8rem;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);

  height: 9.6rem;
  padding: 0 4.8rem;

  position: relative;
}

/* NAV */

.navbar-link {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-navbar-link:link,
.main-navbar-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #1c1c1c;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-navbar-link:hover,
.main-navbar-link:active {
  color: #1d2a5d;
}

/* HERO */

.section-hero {
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 36rem 3.2rem;
  display: grid;
  justify-content: center;
}

.bg-image {
  background-image: url("img/server-room.gif");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.fitfresh-preview {
  height: 50rem;
  width: 100%;
  border-radius: 6px;
  margin-bottom: 2rem;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.15);
}

.name {
  display: flex;
  margin-top: 8rem;
}

.name-text {
  font-size: 3.6rem;
  font-weight: 600;
}

.name-text span {
  color: #1d2a5d;
  font-weight: 700;
}

.typing-section {
  font-size: 2rem;
  display: flex;
  justify-content: center;
}

.typed-text {
  color: #1d2a5d;
  font-weight: 700;
}

.cursor {
  display: inline-block;
  width: 0.2rem;
  margin-left: 0.4rem;
  background: #1c1c1c;
}

.cursor.blink {
  animation: blink 0.8s ease-in-out infinite;
}

@keyframes blink {
  0%,
  100% {
    background: #1c1c1c;
  }
  40%,
  50% {
    background: transparent;
  }
}

/* ABOUT ME SECTION */

.section-about {
  padding: 4.8rem 0 9.6rem 0;
}

.about-description {
  display: flex;
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4rem;
}

.profile-photo {
  height: 50rem;
  width: 50rem;
  border-radius: 500px;
}

.IT-skills {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
  font-weight: 600;
}

.IT-skill {
  height: 13rem;
  width: 13rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.IT-skill-text {
  margin-top: 1.2rem;
}

.IT-skills-flex {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
}

.flex-IT-skills {
  display: flex;
  gap: 12rem;
  align-items: center;
  justify-content: center;
}

/* EDUCATION SECTION */

.section-education {
  background-color: #dce1f4;
  padding: 4.8rem 0 9.6rem 0;
}

.education-logo {
  height: 20rem;
  width: 20rem;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  filter: grayscale(100%);
  border-radius: 1000px;
}

.certifications img {
  transition: transform 0.5s ease;
}

.certifications img:hover {
  transform: scale(1.1);
}

.certifications {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 4.8rem;
}

/* PROJECTS SECTION */

.section-projects {
  padding: 4.8rem 0 9.6rem 0;
}

.channel-box {
  border-radius: 6px;
  width: 100%;
  background-color: #dce1f4;
  padding: 4.8rem;
  position: relative;
  overflow: hidden;
  display: inherit;
  transition: transform 0.5s ease;
}

.project-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 6px;
  width: 100%;
  background-color: #dce1f4;
  padding: 1.6rem;
  margin-bottom: 3.2rem;
  transition: transform 0.5s ease;
}

.project-box:hover {
  transform: scale(1.1);
}

.channel-box:hover {
  transform: scale(1.1);
}

.channel-header {
  text-align: center;
  margin-bottom: 2rem;
  padding: 1.6rem 0rem;
  font-weight: 500px;
}

.channel-name {
  font-weight: 490;
  font-size: 2rem;
  letter-spacing: 0.75;
  margin: 2rem;
}

.channel-view {
  text-align: center;
  margin-top: 4.8rem;
}

.description-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.channel-box-1-wrap::after {
  content: "10M+ Views";
  position: absolute;
  text-align: center;

  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 700;
  color: #fff;
  background-color: #1d2a5d;
  padding: 1rem 12rem;
}

.channel-box-2-wrap::after {
  content: "5M+ Views";
  position: absolute;
  text-align: center;

  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 700;
  color: #fff;
  background-color: #1d2a5d;
  padding: 1rem 12rem;
}

.youtube-channel-image {
  height: 10rem;
  width: 10rem;
  border-radius: 500px;
  filter: grayscale(100%);
}

/* FOOTER */

.footer {
  padding: 3.2rem 0;
  border-top: 1px solid #eee;
  background-color: #1c1c1c;
}

.heading-footer {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  line-height: 1.05;
  font-weight: 700;
  color: #fff;
  letter-spacing: -0.5px;
  margin-bottom: 1rem;
}

.email {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  line-height: 1.05;
  font-weight: 400;
  color: #fff;
  letter-spacing: -0.5px;
  margin-bottom: 1rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #fff;
}

.footer-icons {
  display: flex;
  justify-content: center;
  gap: 3.2rem;
}

/* COPYRIGHT */

.copyright {
  display: flex;
  justify-content: center;
  color: #fff;
  background-color: #222;
  padding: 0.4rem;
  font-size: 1.4rem;
  line-height: 1.6;
}
